/* Global settings */

body {
    padding: 16px 48px;

    color: rgb(37, 37, 37);
    background-color: rgb(246, 246, 246);

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: rgb(10, 95, 251);
}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: calc(40px * 1.2);
}

h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: calc(32px * 1.2);
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: calc(24px * 1.2);
}

p {
    line-height: calc(16px * 1.2);
}

dd {
    width: 100%;
}

label {
    padding: 16px 0 8px 0;
    
    font-weight: 700;
    line-height: calc(16px *1.2);
}

input:disabled, input:disabled:hover {
    background-color: #ecf0f1;
    color: #979a9b;
    border-color: #ecf0f1;
    cursor:unset;
}

input, select {
    background-color: #FEFEFE;
}

input[type=text], input[type=password] {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 16px;

    border: 2px solid #ecf0f1;
    border-radius: 3px;

    outline: none;

    transition-property: border;
    transition-duration: 150ms;    
}

input[type=text]:focus, input[type=password]:focus {
    border: solid 2px rgb(10, 95, 251);
}

.textInput--mod {
    width: 200px !important;
}

input[type=submit] {
    width: 100%;

    padding: 16px 64px;

    border: solid 2px rgb(10, 95, 251);
    border-radius: 3px;

    outline: none;
    cursor: pointer;

    background-color: rgb(10, 95, 251);
    color: rgb(246, 246, 246);

    margin: 32px 0 0 0;

    font-size: 16px;
    font-weight: 700;

    transition-duration: 250ms;
}

input[type=submit]:hover {
    background-color: rgb(246, 246, 246);
    color: rgb(10, 95, 251);
}

input[type=submit]:active {
    background-color: rgb(10,95,251);
    color: rgb(246,246,246);
}

.buttonInput--mod {
    margin: 0 !important;
    padding: 8px 16px !important;
    /*color:rgb(10, 95, 251);*/;
    border: solid 2px #fb0a5f;
    font-weight: bold;
    border-radius: 3px;
    color: #FEFEFE;
    background-color: #fb0a5f;
    outline: none;
    cursor: pointer;

    transition-property: transform;
    transition-duration: 250ms;
}

.buttonInput--mod:hover {
    background-color: #FEFEFE;
    color: #fb0a5f;
}

.buttonInput--mod:active {
    transform: scale(.9);
}

.buttonAlt {
    background-color: rgb(10,95,251);
    border-color: rgb(10,95,251);
}

.buttonAlt:hover {
    color: rgb(10,95,251);
}

select {
    /*width: 200px;*/
    max-height: 35px;
    text-align: center;

    box-sizing: border-box;
    padding: 8px 16px;

    border: 2px solid #ecf0f1;
    border-radius: 3px;

    outline: none;

    transition-property: border;
    transition-duration: 150ms;
}

select:focus {
    border: solid 2px rgb(10, 95, 251);
}

/* Page Layout */


/* Header */

.pageTitle {
    padding: 0 0 16px 0;
}

/* Forms */

.emailSettings, .authSettings {
    display: flex;
    flex-flow: column wrap;

    padding: 0 0 32px 0;
}

.required_field {
    color: #fb0a5f;
}

.filtering {
    padding: 8px 0 0 0;
}

.filters {
    margin: 0 0 8px 0;
}

.filtering__actions {
    padding: 16px 0 0 0;
}

/* Text editor */

.editorTitle {
    padding: 0 0 16px 0;
}

.emailContent {
    background-color: #FEFEFE;
}

.editorVars {
    padding: 0 0 8px 0; 
}