<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Campagnes</title>
</head>
<body>
    <div class="app">
        <div class="header">
            <div class="menu">
                <a href="{{ url_for('index') }}">Accueil</a>
                <a href="{{ url_for('campaigns') }}">Campagnes</a>
                <a href="{{ url_for('logout') }}">Se déconnecter</a>
            </div>
            <h1 class="pageTitle">Campagnes</h1>
        </div>
        <div class="main campaigns">
            <div class="headers">
                <div>
                    <h3>Id</h3>
                </div>
                <div>
                    <h3>Titre</h3>
                </div>
                <div>
                    <h3>Expéditeur</h3>
                </div>
                <div>
                    <h3>Objet</h3>
                </div>
                <div>
                    <h3>Statut</h3>
                </div>
                <div>
                    <h3>Actions</h3>
                </div>
            </div>
            <ul class="campaignsList" id="campaignsList">
                {% for campaign in campaigns %}
                    <li id="campaign_row_{{ loop.index0 }}">
                        <div>
                            <p id="campaign_id_{{ loop.index0 }}">{{ campaign.id }}</p>
                        </div>
                        <div>
                            <p>{{ campaign.name }}</p>
                        </div>
                        <div>
                            <p>{{ campaign.sender }}</p>
                        </div>
                        <div>
                            <p>{{ campaign.subject }}</p>
                        </div>
                        <div>
                            {% if campaign.sent == 0 %}
                                {% if campaign.date_envoi != 0 %}
                                    <p>Envoi prévu le: {{ campaign.date_envoi }}</p>
                                {% endif %}
                                {% if campaign.date_envoi == 0 %}
                                    <p>Prête à l'envoi</p>
                                {% endif %}
                            {% endif %}
                            {% if campaign.sent == 1 %}
                                <p>Campagne envoyée</p>
                            {% endif %}
                        </div>
                        <div class="actions">
                            <input type="button" value="Dupliquer" class="buttonInput--mod" id="campaign_dup_{{ loop.index0 }}">
                            {% if campaign.sent != 1 %}
                                <input type="button" value="Accéder" class="buttonInput--mod" id="campaign_go_{{ loop.index0 }}">
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- Load jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Load custom JS -->
    <script src="{{ url_for('static', filename='js/campaigns.js') }}"></script>
</body>
</html>