<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple email sender">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/ui/trumbowyg.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/plugins/colors/ui/trumbowyg.colors.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/plugins/emoji/ui/trumbowyg.emoji.min.css') }}">
    <title>Email Sender</title>
</head>
<body>
    <div class="app">
        <div class="header">
            <h1 class="pageTitle">Campagne emailing</h1>
        </div>
        <div class="main">
            {% from "_formhelpers.html" import render_field %}
            <form method=post class="emailForm">
                <dl class="emailSettings">
                    <label for="displayName">Nom de l'expéditeur<span class="required_field">*</span></label>
                    {{ render_field(form.name, class="displayName", value="") }}
                    <label for="subject">Objet du mail<span class="required_field">*</span></label>
                    {{ render_field(form.subject, class="subject", value="") }}
                    <div class="filtering__actions">
                        <label for="filters">Filtres</label>
                            {{ render_field(form.filters, id="filters", class="filters", value="") }}
                            <input type="button" value="Retirer" class="buttonInput--mod" id="remove_filter">
                        </div>
                    <div class="filtering_container" id="filtering_container">
                        <div class="filtering">
                            <select name="filtering_fields" id="filtering_fields" class="filtering_fields">
                                <!-- Trouver comment générer les options contenant les fields -->
                                {%for filter in filters%}
                                <option for="filtering_fields">{{filter}}</option>
                                {%endfor%}
                            </select>
                            <select name="filtering_operators" class="filtering_operators" id="filtering_operators">
                                <option value="<"><</option>
                                <option value=">">></option>
                                <option value="<="><=</option>
                                <option value=">=">>=</option>
                                <option value="=">=</option>
                                <option value="!=">!=</option>
                                <option value="contient">contient</option>
                                <option value="ne contient pas">ne contient pas</option>
                                <option value="commence par">commence par</option>
                                <option value="se termine par">se termine par</option>
                                <option value="ne commence pas par">ne commence pas par</option>
                                <option value="ne se termine pas par">ne se termine pas par</option>
                            </select>
                            <input type="text" class="textInput--mod" id="filtering_condition">
                            <input type="button" value="Appliquer" class="buttonInput--mod buttonAlt" id="apply_filter">
                            <input type="button" value="et" class="buttonInput--mod" id="and_condition">
                            <input type="button" value="ou" class="buttonInput--mod" id="or_condition">
                            <!--<input type="button" value="(" class="buttonInput--mod" id="left_parenthesis">
                            <input type="button" value=")" class="buttonInput--mod" id="right_parenthesis">-->
                        </div>
                    </div>
                    <!--<label for="contentBgColor" id="">Couleur de fond</label>
                    <input type="color" id="contentBgColor" value="#fefefe">-->
                    <label for="content" id="content_title">Corps du mail</label>
                    {{ render_field(form.content, class="content", id="content") }}
                </dl>
                <h2 class="editorTitle">Corps du mail<span class="required_field">*</span></h2>
                <div class="emailContent" id="emailContent"></div>
                <input type=submit value="Envoyer" id="main_submit_bt">
            </form>
        </div>
    </div>
    <div class="footer"></div>
    
    <!-- Load jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Load Trumbowyg -->
    <script src="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/trumbowyg.min.js') }}"></script>
    <!-- Load Trumbowyg plugins -->
    <script src="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/langs/fr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/plugins/colors/trumbowyg.colors.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/plugins/emoji/trumbowyg.emoji.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/plugins/fontfamily/trumbowyg.fontfamily.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/plugins/fontsize/trumbowyg.fontsize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/plugins/history/trumbowyg.history.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/plugins/indent/trumbowyg.indent.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/plugins/pasteimage/trumbowyg.pasteimage.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/plugins/upload/trumbowyg.upload.min.js') }}"></script>
    <!-- Load custom JS -->
    <script src="{{ url_for('static', filename='js/emailsender.js') }}"></script>
</body>
</html>