<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple email sender">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/ui/trumbowyg.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/plugins/colors/ui/trumbowyg.colors.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/plugins/emoji/ui/trumbowyg.emoji.min.css') }}">
    <title>Email Sender</title>
</head>
<body>
    <div class="app">
        <div class="header">
            <h1 class="pageTitle">Campagne emailing</h1>
        </div>
        <div class="main">
            {% from "_formhelpers.html" import render_field %}
            <form method=post class="emailForm">
                <dl class="emailSettings">
                    <label for="sender">Adresse de l'expéditeur</label>
                    {{ render_field(form.email, class="sender", value="paul.vergnaud.pro@gmail.com") }}
                    <label for="password">Mot de passe de l'expéditeur</label>
                    {{ render_field(form.password, class="password", value="oruznicrjubsqojw") }}
                    <label for="displayName">Nom de l'expéditeur</label>
                    {{ render_field(form.name, class="displayName", value="Paul Vergnaud") }}
                    <label for="emailList">Fichier de contacts (.csv)</label>
                    {{ render_field(form.file, class="emailList") }}
                    <label for="subject">Objet du mail</label>
                    {{ render_field(form.subject, class="subject", value="Test") }}
                    <!--<label for="contentBgColor" id="">Couleur de fond</label>
                    <input type="color" id="contentBgColor" value="#fefefe">-->
                    <label for="content" id="content_title">Corps du mail</label>
                    {{ render_field(form.content, class="content", id="content") }}
                </dl>
                <h2 class="editorTitle">Corps du mail</h2>
                <div class="emailContent" id="emailContent"></div>
                <input type=submit value="Envoyer">
            </form>
        </div>
        <div class="footer"></div>
    </div>
    
    <!-- Load jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Load Trumbowyg -->
    <script src="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/trumbowyg.min.js') }}"></script>
    <!-- Load Trumbowyg plugins -->
    <script src="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/langs/fr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/plugins/colors/trumbowyg.colors.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/plugins/emoji/trumbowyg.emoji.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/plugins/fontfamily/trumbowyg.fontfamily.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/plugins/fontsize/trumbowyg.fontsize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/plugins/history/trumbowyg.history.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/plugins/indent/trumbowyg.indent.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/plugins/pasteimage/trumbowyg.pasteimage.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/Trumbowyg-main/dist/plugins/upload/trumbowyg.upload.min.js') }}"></script>
    <!-- Load custom JS -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>