<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Connexion</title>
</head>
<body>
    <div class="app">
        <div class="header">
            <h1 class="pageTitle">Connexion</h1>
        </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <div class="main">
            {% from "_formhelpers.html" import render_field %}
            <form method=post class="authForm">
                <dl class="authSettings">
                    <label for="email_label">Adresse email</label>
                    {{ render_field(form.email, class="email_input") }}
                    <label for="password_label">Mot de passe</label>
                    {{ render_field(form.password, class="password_input") }}
                </dl>
                <input type=submit value="Connexion">
            </form>
        </div>
    </div>
    <div class="footer"></div>
    
    <!-- Load jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Load custom JS -->
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
</body>
</html>